#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --builddirectory=build-debian -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_build:
	dh_auto_build --builddirectory=build-debian

override_dh_auto_test:
	build-debian/runnerscope --self-test
	build-debian/runnerscope-firstparty-core --self-test
	build-debian/runnerscope-firstparty-contract

override_dh_auto_install:
	DESTDIR="$(CURDIR)/debian/infiltrator-runner-monitor" cmake --install build-debian --prefix /usr
	install -D -m 0644 packaging/runnerscope.png "$(CURDIR)/debian/infiltrator-runner-monitor/usr/share/app-install/icons/infiltrator-runner-monitor.png"
	install -D -m 0644 README.md "$(CURDIR)/debian/infiltrator-runner-monitor/usr/share/doc/infiltrator-runner-monitor/README.md"
